VITE_FIREBASE_API_KEY=AIzaSyA7PN2Bmu46bnMSh6L_WD7esAhdfvFrPv0
VITE_FIREBASE_AUTH_DOMAIN=sistemicar-app.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=sistemicar-app
VITE_FIREBASE_STORAGE_BUCKET=sistemicar-app.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=606312674305
VITE_FIREBASE_APP_ID=1:606312674305:web:12943997b4a522b9507c00

